
body{
    background-image: url("https://thumbs.dreamstime.com/b/brown-backgrounds-15181888.jpg");
    background-size: cover
}
h2{
    color: blue;
}
.tb2
{
    text-align: center;

    border: 1px, solid;
   
    margin: auto;
}
.tb3{
    border: 1px, solid;
}
.list_class{
    display: table; 
    margin: 0 auto;
    text-align: left;
}
